<html>
<head>
<style>

body {
  background-image: url("underwater.jpg");
  background-position: center;
     }
      

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 80px;
   }
    
</style>
</head>
</html>

